.side-bar {
    position: fixed;
    background-color: white;
    top: 60px;
    left: 0px;
    bottom: 0px;
    width: 75px;
    z-index: 200;
}

.side-bar:hover {
    cursor: pointer;
}

.side-bar-container {
    height: 77px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.side-bar-container:hover {
    background-color: rgb(235, 233, 233);
}

.side-bar-container img {
    height: 23px;
}

.side-bar-container div {
    font-family: roboto, arial;
    font-size: 10px;
    margin-top: 2px;
}